<!DOCTYPE html>
<html>
<script src="http://www.w3schools.com/lib/w3data.js"></script>
<head>
<title>NewsNow</title>
<!-- <link rel="stylesheet" type="text/css" href="static/styleNews.css"> -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<div class="container">
<form method="POST" action="/verifyCompany" class="form-signin">
        <h2 class="form-signin-heading"><center>NewsNow</center></h2>
        <h4 class="form-signin-heading">Pick a Company:</h4>
        <label for="name" class="sr-only">Company</label>
        <input type="name" name="company" class="form-control" placeholder="company" required="" autofocus="">
        <h2></h2>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="submit">Submit</button>
      </form>
</div>

<!-- <div w3-include-html="loading.html"></div> -->

</body>
</html>
