<!DOCTYPE html>
<html>
<head>
<title>NewsNow</title>
<!-- <link rel="stylesheet" type="text/css" href="static/styleNews.css"> -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<div class="container">
<form method="POST" action="/" class="form-signin">
        <h2 class="form-signin-heading"><center>NewsNow</center></h2>
        <label for="inputEmail" class="sr-only">Name</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Name" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Phone Number</label>
        <input type="number" name="phoneNumber" id="numbers" class="form-control" placeholder="Phone Number" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Next</button>
      </form>
</div>
<script>
function redirect(){
var number= document.getElementById("numbers");
alert(number.value)
window.location.href = "https://127.0.0.1:5000/verify";
return(number)
}

// function goPressed(){
//   var number=document.getElementById("phone").value;
//   alert(number);
//   alert("pressed");
// }
</script>
</body>
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<tail><center>Created by Jhonatan Cruz for The Fund</center></tail>
</html>
