<!DOCTYPE html>
<html>
<head>
<title>NewsNow</title>
<link rel="stylesheet" type="text/css" href="static/styleNews.css">
</head>
<h1>NewsNow</h1>
<form method="POST" action="/">
  <fieldset>
    <legend>About You:</legend>
    <!-- <center>First name:<br>
    <input type="text" name="firstname" value=""><br>
    Last name:<br>
    <input type="text" name="lastname" value=""><br> -->
    Phone Number:<br>
    <input type="number" id="numbers" name="phoneNumber" value=""><br>
    <input type="submit" value="Go"><br>
    </center>
  </fieldset>
</form>
<body>
<script>
function redirect(){
var number= document.getElementById("numbers");
alert(number.value)
window.location.href = "https://127.0.0.1:5000/verify";
return(number)
}

// function goPressed(){
//   var number=document.getElementById("phone").value;
//   alert(number);
//   alert("pressed");
// }
</script>
</body>
<tail><center>Created by Jhonatan Cruz for The Fund</center></tail>
</html>
