<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <form method="POST" action="/pickCompany" class="form-signin">
          <h2 class="form-signin-heading"><center>NewsNow</center></h2>
          <h3><center> Hey, {{firstName}}. Verify your phone number with the following 6 digit validation code {{code}}</center><h3>
          <br>
          <button class="btn btn-lg btn-primary btn-block" type="submit" value="submit">next</button>
    </form>
  </div>
</body>
</html>
